/* Variables */
:root {
  --basic-gray: #EEEEEE;
  --basic-gray-darkinest: #c1c1c1;
  --basic-over-dark-gray: rgba(77, 77, 77, 1);
  --basic-dark-gray-200: #444444;
  --basic-dark-gray: #888888;
  --basic-over-dark-gray-opacity: rgb(77,77,77,0.1);
  --basic-light-gray: #666666;
  --basic-pink: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-black: #283136;

  --special-dark-gray-200-opacity: rgb(68,68,68,0.4);
  --special-black-sorting: #231F20;
  --special-gray-sorting: #A6A6A6;
  --special-gray-border: #DBDBDB;
  --special-gray-hover: #DFDFDF;
  --special-gray-filter: #4d4d4d;
  --special-gray-input: #D7DCDE;
  --special-gray-button-focus: #D5D5D5;
  --special-black-opacity: rgba(0,0,0,0.3);
  --special-white-opacity: rgba(255, 0, 0,0.3);
  --special-pink-active: #E74246;
  --special-pink-press: #D7373B;
  --special-green-active: #00BC6C;
  --special-green-press: #00AA62;
  --special-yellow-active: #EAB534;
  --special-yellow-press: #E5A722;
}

/* Hidden */

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Global */

.page-body {
  margin: 0 auto;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 1157px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.main-header, .wrapper, .footer {
  padding: 0 5px;
} 

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-height: 100%;
  height: auto;
}

.wrapper{
  margin: 0 auto;
  width: 1157px;
}

button {
  font-family: "Roboto";
}

/* Main-navigation*/

.background {
  background-color: var(--basic-gray);
}

.main-header-logo:active path {
  fill: #A6A6A6;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: transparent;
  margin-top: 49px;
  padding: 0;
  background-color: var(--basic-gray);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 202px;
  margin-right: 286px;
  width: 885px;
  min-height: 75.57px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  display: block;
  width: 73px;
  height: 2px;
  position: absolute;
  bottom: -15px;
  left: 0px;
  background-color: var(--basic-pink);
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  text-transform: uppercase;
}

/*User navigation*/
.basket-navigation{
  width: 120px;
  height: inherit;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-top: 2px;
}

.basket-navigation .link-basket {
  position: relative;
  margin-top: 0px;
}

.link-basket::before {
  content:"";
  position: absolute;
  top: 3px;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation li {
  margin-right: 44px;
}

.site-navigation li:last-child {
  margin-right: 0px;
}

.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket-navigation a:hover{
  color: var(--basic-pink);
}

.site-navigation a:focus,
.basket-navigation a:focus{
  color: var(--special-black-opacity);
}

/* Slogan */

.slogan {
  width: 538px;
}

.index-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--basic-gray);
}

.slider {
  position: relative;
}

.slider-text {
  display: none;
  padding-bottom: 80px;
}

.slider-text-show {
  display: block;
}

.slider-content{
  margin: 0;
  position: absolute;
  top:0;
  left:-180px;
}

.main-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 25px;
  margin-top: 66px;
}

.content-slogan {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.more {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 240px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--basic-pink);
  color: var(--basic-white);
}

.more:hover {
  background-color: var(--special-pink-active);
}

.more:focus{
  color: var(--special-white-opacity);
  background-color: var(--special-pink-press);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Slider */

.slider-content {
  width: 760px;
  height: 420px;
}

.slider-bgr-1 {
  background-image: url("../img/slide1.png");
  background-position: 0 -12px;
}

.slider-bgr-2 {
  background-image: url("../img/slide2.png");
  background-position: 0 -12px;
}

.slider-bgr-3 {
  background-image: url("../img/slide3.png");
  background-position: 0 -12px;
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 303px;
  left: -43px;
  width: 88px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  cursor: pointer;
}

.slider-button-active {
  position: relative;
}

.slider-button-active:before {
  content:"";
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-darkinest);
  top: 3px;
  left: 3px;
}

/* Product */

.product h2 {
  margin: 0;
}

.product {
  margin: 80px 0;
}

.layout-product{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 40px;
}

.product article {
  background-color: var(--basic-white);
}

.product-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 16px;
}

.product-text {
  width: 250px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.product-img {
  background-color: var(--basic-gray);
}

.product-button {
  width: 160px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  border: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500; 
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}
.product-button:hover {
  color: var(--basic-white);
}

.product-button:focus {
  color: var(--special-white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.button-pink {
  background-color: var(--basic-pink);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-pink:hover {
  background-color: var(--special-pink-active);
}

.button-green:hover {
  background-color: var(--special-green-active);
}

.button-yellow:hover {
  background-color: var(--special-yellow-active);
}

.button-pink:focus {
  background-color: var(--special-pink-press);
}

.button-green:focus {
  background-color: var(--special-green-press);
}

.button-yellow:focus {
  background-color: var(--special-yellow-press);
}

/* About */
.about{
  width: 360px;
}

.about-level-discription{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 3px;
  grid-row-gap: 10px;
}

.layout-about{
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1160px;
  margin-bottom: 50px;
}

.about-level {
  text-align: center;
  width: 362px;
}

.about::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 1158px;
  background-color: var(--basic-gray); 
}

.about-opportunities {
  font-size: 16px;
  line-height: 24px;
  min-width: 651px;
}

.about-opportunities-losung {
  width: 650px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 75px;
  margin-bottom: 32px;
}

.about-opportunities-text {
width: 615px;
margin: 0;
width: 100%;
}

.about-opportunities-preview {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-light-black);
  margin-bottom: 24px;
  margin-top: 42px;
}

.about-opportunities-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.about-opportunities-item {
  padding-left: 34px;
  margin-bottom: 24px;
  position: relative;
}

.about-opportunities-item::before {
  content:"";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-pink);
}

.about-level-text {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 284px;
  position: relative;
  margin-top: 3px;
  margin-bottom: 31px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.about-level-text::before {
  content: "";
  width: 360px;
  height: 208px;
  background-image: url(../img/nerds-illustration1.png);
  background-position: 0 0;
  position: absolute;
  top: 39px;
  left: 2px;
}

.about-level-discription-term {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  grid-row: 1/2;
  text-align: left;
}

.about-level-discription-definition {
  margin: 0;
  text-align: left;
}

.about-level-discription-term span {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.about-level-discription-definition {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-black);
}

/* partners */

.partners:before, .partners:after {
  content:"";
  display: block;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
}

.partners:after {
  margin-bottom: 80px;
}

.partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-item:nth-child(3) {
  margin-left: 55px;
}

.partners-item:nth-child(4) {
  margin-left: 45px;
}

.partners-item {
  align-items: center;
  vertical-align: middle;
  position: relative;
  width: 280px;
  margin-left: 32px;
  margin-right: 50px;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item a{
  display: block;
  display: flex;
  width: 209px;
  height: 90px;
}

.partners-item:hover img {
  opacity: 1;
}

.partners-item:active img {
  opacity: 0.1;
}

.partners-item:not(:last-of-type):after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 52px;
  width: 2px;
  top: 10px;
  right: -40px;
  background-color: var(--basic-gray);
}

/* Contacts */

.footer {
  position: relative;
}

.footer iframe {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
}

.layout-footer {
  margin-top: 55px;
  display: grid;
  grid-template-columns: min-content 1fr;
}
.socials {
  margin-top: 68px;
  margin-left: 0px;
  width: 265px;
  
}

.socials-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials-item {
  width: 81px;
  height: 81px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: auto 0;
  margin-right: 9px;
  align-items: center;
}

.socials-item a {
  display: block;
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
}

.socials-item:hover {
  background: var(--special-pink-active);
}

.socials-item:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.socials-item:active img {
  opacity: 0.3;
}

.contacts {
  position: relative;
  z-index: 1;
  margin-top: 54px;
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding-left: 50px;
  background-color: var(--basic-white);
}
.contacts-title-content {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-top: 47px;
  text-transform: uppercase;
}

.contacts-text-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-gray);
  margin-top: 23px;
}

.telephone-link {
  color: var(--basic-light-gray);
  font-size: 16px;
  line-height: 18px;
}

.send-message {
  display: block;
  width: 219px;
  height: 50px;
  border: 0px;
  margin-top: 37px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  align-items: center;
  background-color: var(--basic-pink);
  border-radius: 3px;
  color: var(--basic-white);
}

.send-message:focus {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(255,255,255,0.3);
}

.last-word {
  margin-top: 73px;
  margin-left: 133px;
  margin-bottom: 50px;
}

.last-word h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.last-word p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray-200);
  margin-top: 10px;
}


/* Catalog*/

.layout-catalog-columns{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 140px;
}

.filter {
  grid-row: 1/3;
  width: 260px;
  margin-top: 55px;
}

.main-title {
  font-weight: 500;
  font-style: normal;
  font-size:55px;
  line-height: 55px;
  background-color: var(--basic-gray);
  margin: 0;
  padding-top: 65px;
  padding-bottom: 108px;
  text-align: center;
}

.sorting {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  margin-top: 55px;
  margin-bottom: 48px;
}

.sorting-text {
  text-transform: uppercase;
  margin: 0;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 365px;
  list-style: none;
  padding: 0;
  padding-right: 0px;
  margin: 0;
  box-sizing: border-box;
}


.sorting-list li:nth-child(3) {
  margin-right: 20px;
}


.sorting-item {
  color: var(--special-black-opacity);
  background-color: var(--basic-white);
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: 0;
}


.sorting-item:disabled {
  color: var(--basic-black);
}

.sorting-item:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-item:focus {
  opacity: 1;
}


.descending-sort, .ascending-sort {
  position: relative;
} 

.descending-sort::after {
  content:"";
  display: block;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--special-gray-sorting);
  opacity: 0.2;
}

.ascending-sort::after {
  content:"";
  display: block;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--special-gray-sorting);
  opacity: 0.2;
}

.descending-sort:hover::after, .ascending-sort:hover::after {
  opacity: 1;
}


.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin-top: 0px;
}

.product-card-item{
  padding:0;
  margin-bottom: 28px;
  width: 360px;
  height: 620px;
  border-radius: 5px;
  position: relative;
  background-color: var(--basic-over-dark-gray-opacity) ;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card-item img {
  padding-top: 40px;
  border-radius: 5px;
}

.product-card-item:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 12px;
  left: -12px;
  border-radius: 50%;
  box-shadow:
    25px 0 0 0 var(--basic-white),
    50px 0 0 0 var(--basic-white),
    75px 0 0 0 var(--basic-white);
}

.product-card-item:hover img {
  background-color: var(--basic-over-dark-gray);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.product-card-info {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.product-card-item:hover .product-card-info {
  height: 231px;
  width: 360px;
  margin: 0;
  clip: auto;
  position: absolute;
  bottom: -1px;
  background-color: var(--basic-gray);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;

}

.product-card-item-link {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 26px;
}

.product-card-item-link:hover {
  color: var(--basic-pink);
}

.product-card-item-link:focus {
  color: var(--special-black-opacity);
}

.product-card-item-text {
  box-sizing: border-box;
  color: var(--basic-light-gray);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0 52px 0 53px;
  text-align: center;
  margin-bottom: 32px;
}

.product-card-item-link h3 {
  margin: 0;
  padding: 0;
}

.buy {
  border-radius: 3px;
  width: 200px;
  height: 50px;
  background-color: var(--basic-pink);
  color: var(--basic-white);
  margin-bottom: 44px;
  padding: 0;
  border: 0;
}

.buy:hover {
  background-color: var(--special-pink-active);
}

.buy:focus {
  background-color: var(--special-pink-press);
}

.product-card-pagination{
  margin-top: 25px;
  margin-bottom: 60px;
}

.product-card-pagination-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.product-card-pagination-item a {
  margin-right: 11px;
  display: block;
  padding: 17px 20px 15px 20px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  }

.product-card-pagination-item:last-child a {
  padding: 17px 78px 15px 77px;
}

.current-page a {
  background-color: var(--basic-white);
  border: 3px solid var(--special-gray-border);
  width: 50px;
  height: 50px;
  padding: 14px 18px 12px 18px;
}

.product-card-pagination-item:hover a{
  background-color: var(--special-gray-hover);
}

.product-card-pagination-item:active a {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: var(--special-black-opacity);
}

/* Filter*/

.filter {
  margin-top: 59px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item li {
  list-style: none;
  margin: 0;
  padding-left: 36px;
  margin-bottom: 20px;
  color: var(--basic-light-black);
}

.filter-item li:first-child {
  margin-top: 20px;
}

.filter-item ul {
  padding: 0;
  margin: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filter-item label{
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
}

.grid {
  margin-top: 57px;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 5px solid var(--special-gray-filter);
  opacity: 0.4;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 4px;
  left: -27px;
  border-radius: 50%;
  background-color: var(--special-gray-filter);
  opacity: 0.4;
}

.filter-input-radio:hover+label::after, .filter-input-radio:hover+label::before, .filter-input-radio:focus+label::after, .filter-input-radio:focus+label::before  {
  opacity: 1;
}

.features {
  margin-top: 31px;
}

.filter-input-checkbox+label::before{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: -36px;
  background-image: url(../img/checkbox-off.png);
  opacity: 0.4; 
}

.filter-input-checkbox:checked+label::before{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: -36px;
  background-image: url(../img/checkbox-shape.png);
  opacity: 0.4; 
}

.filter-input-checkbox:checked+label::after{
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 2px;
  left: -32px;
  background-image: url(../img/checkbox-shapeon.png);
  opacity: 0.4;
}

.filter-input-checkbox:hover+label::before, .filter-input-checkbox:hover+label::after, .filter-input-checkbox:focus+label::before, .filter-input-checkbox:focus+label::after{
  opacity: 1;
}

.filter-product button {
  margin-top: 32px;
  width: 260px;
  height: 50px;
  border-radius: 3px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-gray);
}

.filter-product button:hover {
  background-color: var(--special-gray-hover);
}

.filter-product button:focus {
  background-color: var(--special-gray-button-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--special-black-opacity);
}

.modal {
  position: fixed;
  top: 54px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  
}

.modal-eror {
  animation: shake 0.6s;
}

.modal-feedback-animation {
  animation: bounce 0.6s;
}

.modal-feedback {
  top: auto;
  bottom: 180px;
  background-color: var(--basic-white);
  z-index: 3;
  width: 960px;
  height: 590px;
  padding: 63px 100px 84px 100px;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(36, 15, 15, 0.4);
}

.modal-feedback h1 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
}

.modal-feedback ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form {
  margin-top: 37px;
}

.modal-feedback label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.feedback-form input {
  margin: 0;
  box-sizing: border-box;
}

.feedback-form input[type="text"] {
  width: 360px;
  height: 50px;
  margin-top: 9px;
  margin-bottom: 34px;
  border: 2px solid var(--special-gray-input);
  border-radius: 3px;
  color: var(--special-dark-gray-200-opacity);
  padding: 16px;
}

.feedback-form textarea {
  width: 760px;
  height: 118px;
  margin-top: 9px;
  margin-bottom: 47px;
  box-sizing: border-box;
  border: 2px solid var(--special-gray-input);
  color: var(--special-dark-gray-200-opacity);
  border-radius: 3px;
  padding: 16px;
}

.feedback-form textarea::placeholder {
  color: var(--special-dark-gray-200-opacity);
}

.feedback-submit {
  color: var(--basic-white);
  width: 259px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
}

.button-close{
  position: absolute;
  width: 21px;
  height: 21px;
  top:78px;
  right:90px;
  box-shadow: none;
  border: none;
  background-image: url(../img/button-close.png);
  background-color: var(--basic-white);
  opacity: 0.3;
}

.button-close:hover{
  opacity: 1;
}

.button-close:focus{
  opacity: 0.1;
}

/* Anamation*/

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
