/* Variables */
:root {
  --basic-gray: #EEEEEE;
  --basic-dark-gray: #888888;
  --basic-light-gray: #666666;
  --basic-pink: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-black: #283136;

  --special-black-opacity: rgba(0,0,0,0.3);
  --special-white-opacity: rgba(255, 0, 0,0.3);
  --special-pink-active: #E74246;
  --special-pink-press: #D7373B;
  --special-green-active: #00BC6C;
  --special-green-press: #00AA62;
  --special-yellow-active: #EAB534;
  --special-yellow-press: #E5A722;
}
/* Global */
.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 1157px;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  height: auto;
}

/* Main-navigation*/

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-gray);
}

.site-navigation {
  list-style: none;
}

/*User navigation*/

.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket-navigation a:hover{
  color: var(--basic-pink);
}

.site-navigation a:focus,
.basket-navigation a:focus{
  color: var(--special-black-opacity);
}

/* Slogan */

.slogan {
  background-color: var(--basic-gray);
}

.main-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.content-slogan {
  font-size: 16px;
  line-height: 24px;
}

.more {
  background-color: var(--basic-pink);
  color: var(--basic-white);
}

.more:hover {
  background-color: var(--special-pink-active);
}

.more:focus{
  color: var(--special-white-opacity);
  background-color: var(--special-pink-press);
}

/* Slider */

.slider-content {
  background-color: var(--basic-gray);
}

/* Product */

.product article {
  background-color: var(--basic-white);
}

.product-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.product-img {
  background-color: var(--basic-gray);
}

.product-button {
  color: var(--basic-white);
}

.product-button:hover {
  color: var(--basic-white);
}

.product-button:focus {
  color: var(--special-white-opacity);
}

.button-pink {
  background-color: var(--basic-pink);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-pink:hover {
  background-color: var(--special-pink-active);
}

.button-green:hover {
  background-color: var(--special-green-active);
}

.button-yellow:hover {
  background-color: var(--special-yellow-active);
}

.button-pink:focus {
  background-color: var(--special-pink-press);
}

.button-green:focus {
  background-color: var(--special-green-press);
}

.button-yellow:focus {
  background-color: var(--special-yellow-press);
}

/* About */

.about-opportunities {
  font-size: 16px;
  line-height: 24px;
}

.about-opportunities-losung {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-opportunities-preview {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-light-black);
}

.about-opportunities-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.about-level-text {
  font-weight: bold;
  text-transform: uppercase;
}

.about-level-discription-term {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about-level-discription-term span {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.about-level-discription-definition {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-black);
}

/* Contacts */

.contacts-title-content {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-text-content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-gray);
}

.send-message {
  background-color: var(--basic-pink);
  border-radius: 3px;
}
