/* Variables */
:root {
  --basic-gray: #EEEEEE;
  --basic-gray-darkinest: #c1c1c1;
  --basic-over-dark-gray: rgba(77, 77, 77, 1);
  --basic-dark-gray-200: #444444;
  --basic-dark-gray: #888888;
  --basic-over-dark-gray-opacity: rgb(77,77,77,0.1);
  --basic-light-gray: #666666;
  --basic-pink: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-black: #283136;

  --special-black-sorting: #231F20;
  --special-gray-sorting: #A6A6A6;
  --special-gray-border: #DBDBDB;
  --special-black-opacity: rgba(0,0,0,0.3);
  --special-white-opacity: rgba(255, 0, 0,0.3);
  --special-pink-active: #E74246;
  --special-pink-press: #D7373B;
  --special-green-active: #00BC6C;
  --special-green-press: #00AA62;
  --special-yellow-active: #EAB534;
  --special-yellow-press: #E5A722;
}

/* Hidden */

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Global */

.page-body {
  margin: 0 auto;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 1157px;
  width: 1440px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-height: 100%;
  height: auto;
}

.wrapper{
  margin: 0 auto;
  width: 1157px;
}

button {
  font-family: "Roboto";
}

/* Main-navigation*/

.background {
  background-color: var(--basic-gray);
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: transparent;
  margin-top: 49px;
  padding: 0;
  background-color: var(--basic-gray);
}



.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 885px;
  height: 75.57px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  display: block;
  width: 73px;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 2px;
  background-color: var(--basic-pink);
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  text-transform: uppercase;
}

/*User navigation*/
.basket-navigation{
  width: 120px;
  height: inherit;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.basket-navigation .link-basket {
  position: relative;
}

.link-basket::before {
  content:"";
  position: absolute;
  top: 3px;
  left: -30px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation li {
  margin-right: 44px;
}

.site-navigation li:last-child {
  margin-right: 0px;
}

.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket-navigation a:hover{
  color: var(--basic-pink);
}

.site-navigation a:focus,
.basket-navigation a:focus{
  color: var(--special-black-opacity);
}

/* Slogan */

.slogan {
  width: 397px;
}

.index-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--basic-gray);
}
.slider-content{
  margin: 0;
}

.main-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 25px;
}

.content-slogan {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.more {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 240px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--basic-pink);
  color: var(--basic-white);
}

.more:hover {
  background-color: var(--special-pink-active);
}

.more:focus{
  color: var(--special-white-opacity);
  background-color: var(--special-pink-press);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Slider */

.slider-content {
  width: 760px;
  height: 431px;
}

.slider-bgr-1 {
  background-image: url("../img/slide1.png");
}

.slider-bgr-2 {
  background-image: url("../img/slide2.png");
}

.slider-bgr-3 {
  background-image: url("../img/slide3.png");
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 431px;
  width: 88px;
  justify-content: space-between;
  list-style: none;
  padding-left: 139px;
  margin: 0;
}

.slider-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  cursor: pointer;
}

.slider-button-active {
  position: relative;
}

.slider-button-active:before {
  content:"";
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-darkinest);
  top: 3px;
  left: 3px;
}

/* Product */

.product h2 {
  margin: 0;
}

.product {
  margin: 80px 0;
}

.layout-product{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.product article {
  background-color: var(--basic-white);
}

.product-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}

.product-text {
  width: 250px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.product-img {
  background-color: var(--basic-gray);
}

.product-button {
  width: 160px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  border: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500; 
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}
.product-button:hover {
  color: var(--basic-white);
}

.product-button:focus {
  color: var(--special-white-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.button-pink {
  background-color: var(--basic-pink);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-pink:hover {
  background-color: var(--special-pink-active);
}

.button-green:hover {
  background-color: var(--special-green-active);
}

.button-yellow:hover {
  background-color: var(--special-yellow-active);
}

.button-pink:focus {
  background-color: var(--special-pink-press);
}

.button-green:focus {
  background-color: var(--special-green-press);
}

.button-yellow:focus {
  background-color: var(--special-yellow-press);
}

/* About */
.about{
  width: 360px;
}

.about-level-discription{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 22px;
  grid-row-gap: 10px;
}

.layout-about{
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1160px;
  margin-bottom: 75px;
}

.about-level {
  text-align: center;
}

.about::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 1158px;
  background-color: var(--basic-gray); 
}

.about-opportunities {
  font-size: 16px;
  line-height: 24px;
}

.about-opportunities-losung {
  width: 650px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  margin-bottom: 32px;
}

.about-opportunities-text {
width: 615px;
margin: 0;

}

.about-opportunities-preview {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-light-black);
  margin-bottom: 23px;
  margin-top: 40px;
}

.about-opportunities-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.about-opportunities-item {
  padding-left: 32px;
  margin-bottom: 36px;
  position: relative;
}

.about-opportunities-item::before {
  content:"";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-pink);
}

.about-level-text {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 284px;
  position: relative;
  margin-top: 18px;
  margin-bottom: 31px;
}

.about-level-text::before {
  content: "";
  width: 360px;
  height: 208px;
  background-image: url(../img/nerds-illustration1.png);
  background-position: 0 0;
  position: absolute;
  top: 39px;
  left: -17px;
}

.about-level-discription-term {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  grid-row: 1/2;
}

.about-level-discription-definition {
  margin: 0;
  text-align: left;
}

.about-level-discription-term span {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.about-level-discription-definition {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-black);
}

/* partners */

.partners:before, .partners:after {
  content:"";
  display: block;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
}

.partners:after {
  margin-bottom: 80px;
}

.partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners-item {
  margin: 44px auto;
  position: relative;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item:hover img {
  opacity: 1;
}

.partners-item:active img {
  opacity: 0.1;
}

.partners-item:not(:last-of-type):after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 52px;
  width: 2px;
  margin-left: 50px;
  top: 10px;
  background-color: var(--basic-gray);
}

/* Contacts */

.footer {
  position: relative;
}

.footer iframe {
  position: absolute;
  top: 0;
  z-index: 0;
}

.layout-footer {
  margin-top: 68px;
  display: grid;
  grid-template-columns: min-content 1fr;
}
.socials {
  margin-top: 68px;
  margin-left: 0px;
  width: 265px;
  
}

.socials-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials-item {
  width: 81px;
  height: 81px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: auto 0;
  margin-right: 9px;
  align-items: center;
}

.socials-item a {
  display: block;
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
}

.socials-item:hover {
  background: var(--special-pink-active);
}

.socials-item:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.socials-item:active img {
  opacity: 0.3;
}

.contacts {
  position: relative;
  z-index: 1;
  margin-top: 54px;
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding-left: 50px;
  background-color: var(--basic-white);
}
.contacts-title-content {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding-top: 49px;
  text-transform: uppercase;
}

.contacts-text-content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-gray);
}

.telephone-link {
  color: var(--basic-light-gray);
}

.send-message {
  display: block;
  width: 219px;
  height: 50px;
  border: 0px;
  margin-top: 37px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  align-items: center;
  background-color: var(--basic-pink);
  border-radius: 3px;
  color: var(--basic-white);
}

.last-word {
  margin-top: 68px;
  margin-left: 140px;
}

.last-word h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.last-word p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray-200);
}


/* Catalog*/

.layout-catalog-columns{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 140px;
}

.filter {
  grid-row: 1/3;
  width: 260px;
  margin-top: 55px;
}

.main-title {
  font-weight: 500;
  font-style: normal;
  font-size:55px;
  line-height: 55px;
  background-color: var(--basic-gray);
  padding-top: 78px;
  padding-bottom: 108px;
  margin: 0;
  text-align: center;
}

.sorting {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  margin-top: 55px;
  margin-bottom: 48px;
}

.sorting-text {
  text-transform: uppercase;
  margin: 0;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 359px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-item {
  color: var(--special-black-opacity);
  background-color: var(--basic-white);
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: 0;
}

.sorting-item:disabled {
  color: var(--basic-black);
}

.descending-sort, .ascending-sort {
  position: relative;
}

.descending-sort::after {
  content:"";
  display: block;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid var(--special-gray-sorting);
  opacity: 0.2;
}

.ascending-sort::after {
  content:"";
  display: block;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid var(--special-gray-sorting);
  opacity: 0.2;
}



.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin-top: 25px;
}

.product-card-item{
  padding:0;
  margin-top: 30px;
  width: 360px;
  height: 620px;
  border-radius: 5px;
  position: relative;
  background-color: var(--basic-over-dark-gray-opacity) ;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card-item img {
  padding-top: 40px;
  border-radius: 5px;
}

.product-card-item:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 13px;
  left: 0px;
  border-radius: 50%;
  box-shadow:
    25px 0 0 0 var(--basic-white),
    50px 0 0 0 var(--basic-white),
    75px 0 0 0 var(--basic-white);
}

.product-card-item:hover img {
  background-color: var(--basic-over-dark-gray);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.product-card-info {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.product-card-item:hover .product-card-info {
  height: 231px;
  width: 360px;
  margin: 0;
  clip: auto;
  position: absolute;
  bottom: -1px;
  background-color: var(--basic-gray);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;

}

.product-card-item-link {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 26px;
}

.product-card-item-link:hover {
  color: var(--basic-pink);
}

.product-card-item-link:focus {
  color: var(--special-black-opacity);
}

.product-card-item-text {
  box-sizing: border-box;
  color: var(--basic-light-gray);
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0 52px 0 53px;
  text-align: center;
  margin-bottom: 32px;
}

.product-card-item-link h3 {
  margin: 0;
  padding: 0;
}

.buy {
  border-radius: 3px;
  width: 200px;
  height: 50px;
  background-color: var(--basic-pink);
  color: var(--basic-white);
  margin-bottom: 44px;
  padding: 0;
  border: 0;
}

.buy:hover {
  background-color: var(--special-pink-active);
}

.buy:focus {
  background-color: var(--special-pink-press);
}

.product-card-pagination{
  margin-top: 55px;
  margin-bottom: 60px;
}

.product-card-pagination-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.product-card-pagination-item a {
  margin-right: 11px;
  display: block;
  padding: 17px 20px 15px 20px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  }

.product-card-pagination-item:last-child a {
  padding: 17px 78px 15px 77px;
}

.current-page a {
  background-color: var(--basic-white);
  border: 3px solid var(--special-gray-border);
  width: 50px;
  height: 50px;
  padding: 14px 18px 12px 18px;
}
